body { padding-top:70px; }
.link-button-color {
    color: #fff;
}

.link-button-color:hover {
    text-decoration: none;
    color: #333;
}

.alert:empty {
	display:none;
}

.btn:focus,.btn:active {
   outline: none !important;
}

a.navbar-brand img { height:100%; background:#fff; border-radius:3px; }